	@charset "UTF-8";
	@font-face{
	font-family: Sofia;
	src: url('Sofia.ttf');
	}

	/* General */
	
	html, div,  span,  applet,  object,  iframe,
	h1,  h2,  h3, h5,  h6,  p,  blockquote,  pre,
	a,  abbr,  acronym,  address,  big,  cite,  code,
	del,  dfn,  em,  img,  ins,  kbd,  q,  s,  samp,
	strike,    sub,  sup,  tt,  var,
	b,  u,  i,  center,
	dl,  dt,  dd,  ol,  ul,  li,
	fieldset,  form,  label,  legend,
	table,  caption,  tbody,  tfoot,  thead,  tr,  th, 
	article,  aside,  canvas,  details,  embed, 
	figure,  figcaption,  footer,  header,  hgroup, 
	menu,  nav,  output,  ruby,  section,  summary,
	time,  mark,  audio,  video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article,  aside,  details,  figcaption,  figure, 
	footer,  header,  hgroup,  menu,  nav,  section {
		display: block;
	}

	ol,  ul {
		list-style: none;
	}
	blockquote,  q {
		quotes: none;
	}
	blockquote:before,  blockquote:after,
	q:before,  q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
			font-family: Sofia;
			font-size: 14px;
			background-color: #ffffff;
			margin-top:3px;
			margin-right:0px;
			margin-left:0px;
			padding: 0;
			border: 0;
	}

	p{
	font-family:Sofia;
	color:#2060B3;
	}
	
	input[type="text"] {
	font-family:helvetica;
    }
	

	textarea  {
	font-family:helvetica;
    }

	h1{	
	font-family: Sofia;
	font-size: 100px;
	color:#2060B3;
	font-weight:normal;
	padding: 20px;
	margin: 10px;
	}
	
	h2{	
	font-family: Sofia;
	font-size: 15px;
	color:#ffffff;
	background-color:#4099FF;
	font-weight:normal;
	text-align:center;
	padding: 3.5px;
	margin-top:0px;
	}
	
	h3{
	font-family: Sofia;
	font-size: 30px;
	color:#2060B3;
	font-weight:bold;
	text-align:center;
	}
	
	h4{
	font-family: helvetica;
	font-size: 12px;
	color:#2060B3;
	text-align:center;
	}
	
	h5{
	font-family:helvetica;
	color:#08488D;
	}	
	
	h6{
	font-family: Sofia;
	font-size: 15px;
	color:#2060B3;
	font-weight:bold;
	text-align:center;
	}
	
	/* Hyperlinks */
		
	<!--
	a{text-decoration:none}
	-->

	a:link 	{ color: #ffffff }
	a:visited 	{ color: #ffffff }
	a:active 	{ color: #ffffff }

	
	/* Main */
	
	.img-fav {
	vertical-align: middle;
	width:40px;
	margin-left:8px;
	margin-right:8px;
        border-radius:25px;
	}

	.img-fav:hover {
	-moz-box-shadow: 0 0 5px #00ACD2;
	-webkit-box-shadow: 0 0 5px #00ACD2;
	box-shadow: 0px 0px 5px #00ACD2;
	}
	
	.img-share {
	vertical-align: middle;
	width:30px;
	margin-left:8px;
	margin-right:8px;
        border-radius:25px;
	}

	.img-share:hover {
	-moz-box-shadow: 0 0 5px #00ACD2;
	-webkit-box-shadow: 0 0 5px #00ACD2;
	box-shadow: 0px 0px 5px #00ACD2;
	}

	.img-form {
	vertical-align: middle;
	width:36px;
	border-radius:25px;
	}

	.img-form-search {
	vertical-align: middle;
	width:36px;
	}

	.img-form:hover {
	-moz-box-shadow: 0 0 5px #00ACD2;
	-webkit-box-shadow: 0 0 5px #00ACD2;
	box-shadow: 0px 0px 5px #00ACD2;
	}

	.input-text { 
	height: 30px; 
	font-size: 14px;
	padding: 2px;
	font-family: helvetica;
	} 

	.image-group {
	display:inline-block;
	margin-left:17px;
	margin-right:17px;
	}
	
	.main {
    text-align:center;
	width:100%;
	background-color:#ffffff;
	float:left; 
	}
	
	.privacy{
	 width:900px;
	 margin-top:10px;
	 margin-left:auto;
	 margin-right:auto;
	}
	
	.logo{
	margin-top:50px;
	margin-bottom:50px;
	width:250px;
	}

	.share {
        text-align:center;
		vertical-align: middle;
	}

	/* Buttons */
		
		.button
		{
			position: relative;
			display: inline-block;
			border-radius: 0.35em;
			color: #fff !important;
			text-decoration: none;
			padding: 0.75em 2.5em 0.75em 2.5em;
			background-color: #4099FF;
			border: 0;
			cursor: pointer;
			background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');
			background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');
			background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');
			background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');
			background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');			
			-moz-transition: background-color 0.35s ease-in-out;
			-webkit-transition: background-color 0.35s ease-in-out;
			-o-transition: background-color 0.35s ease-in-out;
			-ms-transition: background-color 0.35s ease-in-out;
			transition: background-color 0.35s ease-in-out;
			float:right;
		}

		.button:hover
		{
			background-color: #08488D;
		}
			
		.button:active
		{
			background-color: #2060B3;
		}
	
	/* Tabs */
	
	#news 	{ display:none;}
	#media { display:none;}
	#shop 	{ display:none;}
	#sports { display:none;}
	#tech 	{ display:none;}
	#travel { display:none;}
	#scholar { display:none;}
	#banks { display:none;}
