  /* ------------------------------------------------- */
  /* -----------------------TABS---------------------- */
  /* ------------------------------------------------- */

  #tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #tabs li {
    float: left;
    margin: 0 -15px 0 0;
  }

  #tabs a {
    float: left;
    position: relative;
    padding: 0 20px;
    height: 0;
    line-height: 25px;
    text-decoration: none;
    color: #ffffff;      
    border-right: 25px solid transparent;
    border-bottom: 25px solid #4099FF;
    border-bottom-color: #4099FF;
    opacity: .6;
    filter: alpha(opacity=30);      
  }

  #tabs a:hover,
  #tabs a:focus {
    border-bottom-color: #4099FF;
    opacity: 1;
    filter: alpha(opacity=100);
  }

  #tabs a:focus {
    outline: 0;
  }

  #tabs #current {
    z-index: 3;
    border-bottom-color: #4099FF;
    opacity: 1;
    filter: alpha(opacity=100);      
  }

  /* ----------- */
  #content {
      background: #fff;
      border-top: 2px solid #4099FF;
      padding: 2em;
  }

  #content h2,
    #content h3,
    #content p {
      margin: 0 0 15px 0;
  }  
